<VirtualHost *:80>
	ServerAdmin {{wp_admin_email}}
	ServerName {{wp_sitename}}
	ServerAlias www.{{wp_sitename}}

	DocumentRoot "{{wp_install_dir}}"

	<Directory "{{wp_install_dir}}">
		Options FollowSymLinks MultiViews Includes ExecCGI
		AllowOverride none
		Order allow,deny
		allow from all
		Require all granted
		#RewriteEngine On
		#RewriteBase /
		#RewriteRule ^index\.php$ - [L]
		#RewriteCond %{REQUEST_FILENAME} !-f
		#RewriteCond %{REQUEST_FILENAME} !-d
		#RewriteRule . /index.php [L]
	</Directory>

	ErrorLog /var/log/apache2/{{wp_sitename}}-error.log
	LogLevel warn
	CustomLog /var/log/apache2/{{wp_sitename}}-access.log combined

</VirtualHost>